<!--

<div *ngFor="let image of images; let i = index;">

    <div *ngIf="i%3==0">
        <div class="card-deck row media-photos">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <a href="https://photos.app.goo.gl/aR6MPAGNrUP44jUo2"><img [src]=image class="logo"></a>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">R's Day Laguna Seca</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <a href="https://photos.app.goo.gl/SbweNV5FX4IM2WYr1"><img [src]=images[i+1] class="logo"></a>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">Event name</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-block">
                        <a href="https://photos.app.goo.gl/SbweNV5FX4IM2WYr1"><img [src]=images[i+2] class="logo"></a>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">Event name</small>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
 -->

<div class="card media-box">
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<div class="card media-item">
				<div class="card-header">
					R's Day Laguna Seca
				</div>
				<div class="card-block">
					<a href="https://photos.app.goo.gl/aR6MPAGNrUP44jUo2" target="_blank">
						<img src="../../assets/IMG_60531.jpg" class="logo">
					</a>
				</div>
				<div class="card-footer text-center">
					Photos
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="card media-item">
				<div class="card-header">
					R's Day 2016 - Godzilla vs Laguna Seca
				</div>
				<div class="card-block">
					<a href="http://www.superstreetonline.com/event-coverage/motorsports/1612-rs-day-2016-godzilla-vs-laguna-seca/" target="_blank">
						<img src="../../assets/godzilla_vs_laguna.jpg" class="logo">
					</a>
				</div>
				<div class="card-footer text-center">
					Article
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6">
			<div class="card media-item">
				<div class="card-header">
					The Godzilla Takeover At Laguna Seca
				</div>
				<div class="card-block">
					<a href="http://www.speedhunters.com/2017/12/the-godzilla-takeover-at-laguna-seca-rs-day-2017/" target="_blank">
						<img src="../../assets/godzilla_takeover.jpg" class="logo">
					</a>
				</div>
				<div class="card-footer text-center">
					Article
				</div>
			</div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card media-item">
          <div class="card-header">
            R Stands For Rain and Racing
          </div>
          <div class="card-block">
            <a href="http://www.23gt.net/2016/12/the-first-ever-rs-day-r-stands-for-rain.html?m=1" target="_blank">
              <img src="../../assets/first_rs_day.jpg" class="logo">
            </a>
          </div>
          <div class="card-footer text-center">
            Article
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card media-item">
          <div class="card-header">
            R's Day 2017
          </div>
          <div class="card-block">
            <a href="https://journal.classiccars.com/2016/12/04/skyline-syndicates-rs-day-laguna-seca/" target="_blank">
              <img src="../../assets/skyline_syndicate.jpg" class="logo">
            </a>
          </div>
          <div class="card-footer text-center">
            Article
          </div>
        </div>
      </div>
	</div>



  <br>
</div>
