<!--

<div *ngFor="let image of images; let i = index;">

    <div *ngIf="i%3==0">
        <div class="card-deck row media-photos">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <a href="https://photos.app.goo.gl/aR6MPAGNrUP44jUo2"><img [src]=image class="logo"></a>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">R's Day Laguna Seca</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <a href="https://photos.app.goo.gl/SbweNV5FX4IM2WYr1"><img [src]=images[i+1] class="logo"></a>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">Event name</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-block">
                        <a href="https://photos.app.goo.gl/SbweNV5FX4IM2WYr1"><img [src]=images[i+2] class="logo"></a>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">Event name</small>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
 -->

 <div class="card-deck row media-photos">
	<div class="col-md-4">
		<div class="card">
			<div class="card-block">
				<a href="https://photos.app.goo.gl/aR6MPAGNrUP44jUo2" target="_blank"><img [src]="lagunaseca" class="logo"></a>
			</div>
			<div class="card-footer text-center">
				<small class="text-muted">R's Day Laguna Seca</small>
			</div>
		</div>
  </div>
  <div class="col-md-4">
		<div class="card">
			<div class="card-block">
				<a href="https://photos.app.goo.gl/aR6MPAGNrUP44jUo2" target="_blank"><img [src]="logo" class="logo"></a>
			</div>
			<div class="card-footer text-center">
				<small class="text-muted">R's Day Laguna Seca</small>
			</div>
		</div>
	</div>
</div>
