img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
}

.media-box {
  box-shadow: 0 0 15px rgba(0,0,0,0.26);
  padding: 0 25px;
  opacity: .9;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: hidden ;
}



.card-header {
  text-align: center;
}

.media-item {
  background-color: rgb(235, 235, 235);
  margin-top: 25px;
}




