<div class="modal-header">
        <h4 class="modal-title">Add New Payment Information</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
      
        <div class="row">
            <div class="col-md-6">
                <h4>Add Info</h4>
                <form #f="ngForm" (ngSubmit)="addNewPaymentRow(f)">
                    <input class="form-control" name="payer" placeholder="Who Paid?" ngModel>
                    <input class="form-control" name="item" placeholder="Item" ngModel>
                    <input class="form-control" name="price" placeholder="Price" ngModel>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>

            <div class="col-md-6">
                <h4>Current Users/Payments</h4>
                <div *ngFor="let info of paymentArray">
                    {{info.payer}}/{{info.item}}/{{info.price}}
                </div>
            </div>
        </div>
    </div>
      
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>