.nav-item {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

a {color: white;}

a:hover {
  color: #ff5131;
}

.navbar-custom {
    background-color: #626163;

}

hr {
  background-color: #ff5131;
}
