
.navbar-custom {
  font-family: 'Concert One', sans-serif !important;
}

.main {
  background-image: url("../assets/backgroundRsday.jpg");
  height: 100%;

  // Center and scale image nicely
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: rgba(0, 0, 0, 0.795);
  margin-top: 140px; // make space for the fixed navbar
}

// .navbar-custom {
//   position:fixed;
//   top: 0;
// }

.nav-item {
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

a {
  color: #626163;
}

a:hover {
  color: #ff5131;
}

hr {
  background-color: #ff5131;
}

.logo {
  width: 140px;
  height: auto;
  padding-right: 20px;
}

.logo-main {
  font-size: 40px;
}

.logo-sub {
  font-size: 15 px;
}
