<!-- <nav class="navbar fixed-top bg-light">
        <div class="container">
                <img class="logo" src="../assets/RsDay.png">
    
                <div class="logo-text">
                        <div class="logo-main">R'S DAY</div>
                        <div class="logo-sub">CELEBRATE ALL THINGS SKYLINE</div>
                    </div>
    
                <ul class="mx-auto navbar-nav" routerLinkActive="active">
                    <li class="nav-item"><a class="nav-link" routerLink="home">HOME</a></li>
                    <li class="nav-item nav-link">/</li>
                    <li class="nav-item"><a class="nav-link" routerLink="media">MEDIA</a></li>
                    <li class="nav-item nav-link">/</li>
                    <li class="nav-item"><a class="nav-link" routerLink="register">REGISTER</a></li>
                </ul>
            </div>
      </nav> -->
<nav class="navbar navbar-expand-lg navbar-custom fixed-top bg-light">

        <div class="container">
            <img class="logo" src="../assets/RsDay.png">

            <div class="logo-text">
                    <div class="logo-main">R'S DAY</div>
                    <div class="logo-sub">CELEBRATE ALL THINGS SKYLINE</div>
                </div>

            <ul class="mx-auto navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="home">HOME</a></li>
                <li class="nav-item nav-link">/</li>
                <li class="nav-item"><a class="nav-link" routerLink="media">MEDIA</a></li>
                <li class="nav-item nav-link">/</li>
                <li class="nav-item"><a class="nav-link" routerLink="register">REGISTER</a></li>
            </ul>
        </div>
    </nav>

<div class="main">
  <div class="container">
    <!-- <hr> -->
    <br>
    <router-outlet></router-outlet>
    <br>
    <!-- <hr> -->
  </div>
</div>

