/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Concert+One');

body {
  background-color: #EEEDEF !important;
  height: 100%;
  overflow-x: hidden !important;
  /* font-family: 'Concert One', sans-serif !important; */
}

html {
  height: 100%;
}


