<h3>How many people were in your party?</h3>
<button class="btn" (click)="open()">Open!</button>
<table class="table table-striped">
  <thead>
    <th>Who Paid?</th>
    <th>Item</th>
    <th>Price</th>
    <th *ngFor="let user of userArray">
      {{user}}
    </th>
  </thead>

  <tbody *ngIf="rowsAreEmpty">
    <tr *ngFor="let row of emptyTableRows">
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td *ngFor="let user of userArray">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
        </div>
      </td>
    </tr>
  </tbody>

  <tbody>
    <tr *ngFor="let paymentInfo of paymentArray">
      <td>{{paymentInfo.payer}}</td>
      <td>{{paymentInfo.item}}</td>
      <td>{{paymentInfo.price}}</td>
      <td *ngFor="let user of userArray">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
        </div>
      </td>
    </tr>
  </tbody>
  <!-- <tbody>
    <tr>
      <td>Phong</td>
      <td>Item1</td>
      <td>$5</td>
      <td *ngFor="let user of userArray">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="">
        </div>
      </td>
    </tr>
    <tr>
      <td>Taylor</td>
      <td>Item</td>
      <td>Price</td>
      <td *ngFor="let user of userArray">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="">
        </div>
      </td>
    </tr>
    <tr>
      <td>Steve</td>
      <td>Item</td>
      <td>Price</td>
      <td *ngFor="let user of userArray">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" value="">
        </div>
      </td>
    </tr> -->

    <button class="btn btn-primary" (click)="openAddPaymentRowModal()">Add New Payment</button>
  <!-- </tbody> -->
</table>