<div class="row news">
  <div class="col-md-10 offset-md-1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Welcome to R's Day 2018</h5>
        <p class="card-subtitle mb-2">
          <b>June 10, 2018</b>
        </p>
        <p class="card-text">Hi, welcome to R's Day 2018!</p>
        <p class="card-text">Registration is now active!</p>
        <p class="card-text">See you guys at Fontana, CA!</p>
        <!-- <a href="#" class="card-link">Link</a> -->
      </div>
      <hr>
      <div class="card-body">
        <h5 class="card-title">Welcome!</h5>
        <p class="card-subtitle mb-2">
          <b>May 29, 2018</b>
        </p>
        <p class="card-text">Welcome to the R's Day USA website! Chere for news and updates.</p>
        <!-- <a href="#" class="card-link">Link</a> -->
      </div>
      <hr>
    </div>
  </div>
  <!-- <div class="col-md-4">
        <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Our sponsors</h5>

                        <div *ngFor="let image of images; let i=index">
                            <div *ngIf="i%2==0">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="https://photos.app.goo.gl/SbweNV5FX4IM2WYr1"><img [src]=image class="logo"></a>

                                    </div>
                                    <div class="col-md-6">
                                        <img [src]=images[i+1] class="logo">
                                    </div>
                                </div>
                                <br>
                            </div>

                        </div>


                </div>
            </div>
    </div> -->
</div>
